
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="enter 1st name"><br>
    <input type="text" name="last_name" placeholder="enter last name"><br>
    <input type="text" name="username" placeholder="enter username"><br>
    <input type="email" name="email" placeholder="enter password"><br>
    <input type="password" name="password1" placeholder="enter password"><br>
    <input type="password" name="password2" placeholder="confirm password"><br>
    <input type="submit">


</form>
<div>
    {% for message in messages %}
   <h3>{{ message }}</h3>
    {% endfor %}
</div>
</body>
</html>